/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

body { padding-top: 60px; }

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #dd4814;
}


.main {
  padding: 20px;
  padding-top: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.control-label{
    text-align: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
label{
    text-align: left !important;
}


.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 0
}

.alert h4 {
  margin-top: 0;
  color: inherit
}

.alert .alert-link {
  font-weight: bold
}

.alert>p,
.alert>ul {
  margin-bottom: 0
}

.alert>p+p {
  margin-top: 5px
}

.alert-dismissable {
  padding-right: 35px
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit
}

.alert-success {
  background-color: #5cb85c;
  border-color: transparent;
  color: #ebebeb
}

.alert-success hr {
  border-top-color: rgba(0, 0, 0, 0)
}

.alert-success .alert-link {
  color: #d2d2d2
}

.alert-info {
  background-color: #5bc0de;
  border-color: transparent;
  color: #ebebeb
}

.alert-info hr {
  border-top-color: rgba(0, 0, 0, 0)
}

.alert-info .alert-link {
  color: #d2d2d2
}

.alert-warning {
  background-color: #f0ad4e;
  border-color: transparent;
  color: #ebebeb
}

.alert-warning hr {
  border-top-color: rgba(0, 0, 0, 0)
}

.alert-warning .alert-link {
  color: #d2d2d2
}

.alert-danger {
  background-color: #d9534f;
  border-color: transparent;
  color: #ebebeb
}

.alert-danger hr {
  border-top-color: rgba(0, 0, 0, 0)
}

.alert-danger .alert-link {
  color: #d2d2d2
}

.alert-info {
    background-color: #5bc0de;
    border-color: transparent;
    color: #ebebeb
}

.alert-info hr {
    border-top-color: rgba(0, 0, 0, 0)
}

.alert-info .alert-link {
    color: #d2d2d2
}

.alert-success {
    background-color: #5cb85c;
    border-color: transparent;
    color: #ebebeb
}

.alert-success hr {
    border-top-color: rgba(0, 0, 0, 0)
}

.alert-success .alert-link {
    color: #d2d2d2
}


.content-box{
    border:1px solid #dfe8f1;
    padding:0px;
}

.content-box .title{
    border-top:1px solid #dfe8f1;
    height: 40px;
    line-height: 40px;
}